@use "./base.scss";

// put your custom CSS here!

// quartz/styles/custom.scss

// Grid 方案
.awards-grid {
  display: grid;
  grid-template-columns: 1.2fr 1.6fr 0.6fr;
  gap: 1em;
  align-items: start;
  margin-bottom: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: 2.9fr 0.6fr;
  gap: 1em;
  align-items: start;
  margin-bottom: 2rem;
}
